body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: blue;
}

header {
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 0;
}

h2 {
    color: #666;
}

p {
    color: #777;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 10px 0;
}
