body {
    background: black;
    background-size: cover;
    color: white;
    font-family: Algerian, sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #b41111;
    font-size: 32px;
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
    color: hsl(129, 96%, 33%);
    text-align: center;
}
